.container-reserve {
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.container-date-range {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
}

.container-date-range > button:first-child {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #252525;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px 0 0 20px;
}

.container-date-range > button:last-child {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #252525;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0 20px 20px 0;
}

.container-hospedes-range > #guest-select {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #252525;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px 20px;
    padding: 10px;
    border: none;
    position: relative;
}

.modal-container {
    position: relative;
    z-index: 1;
}

#button-buscar {
    align-items: center;
    width: 150px;
    padding: 10px;
    background-color: #9400d3;
    color: white;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#button-buscar:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: #ffffff;
    font-weight: 500;
    color: #bb19db;
}

.modal-container {
    position: absolute; /* O modal vai sobrepor todo o conteúdo */
    align-items: center;
    z-index: 5;
}