/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
    position: fixed;
    z-index: 3;
    background-color: #fff;
    border: 1px solid red;
    box-shadow: 10px 10px 10px #e0e0e0;
    border-radius: 20px;
    margin-top: 10px;
}

.navbar .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    color: #000;
}

.navbar .navbar-container a {
    text-decoration: none;
    color: #000;
}

.button-login {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 40px;
    background-color: #7A2388;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.button-login>a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.button-login:hover {
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
}

.button-login:hover>a {
    transition: color 0.3s ease-in-out;
    color: #7A2388;
}

.stacked-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon-default {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    margin-right: 10px;
}

.profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    margin-left: 20px;
    background-color: transparent;
}

.chevron-icon {
    width: 20px;
    height: 20px;
    border: none;
    transition: transform 0.3s ease;
}


.rotate {
    transform: rotate(180deg);
}

.menu {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
    transition: backgroud-color 0.3s ease-in-out;
}

.menu li:hover {
    background-color: #e0e0e0;
    transition: backgroud-color 0.3s ease-in-out;
}

.menu button {
    border: none;
    background-color: transparent;
}

.modal-overlay {
    border: 1px solid red;
    position: absolute;
    top: 40vh;
    left: 40vw;
}